aside {
    padding: 15px;
    text-align: center;
    font-style: 14px;
}
aside a {
    color: black;
    margin-bottom: 30px;
    transition: all 0.3s; /*transicion del hover*/
}

aside p{
    margin: 0;
}

aside a:hover{
    background-color: var(--color-primary-soft);
    color: black;
}
