<h1 class="title-products">Ofertas</h1>

<div class="row">
    <div class="col-xs-12">

        <form>
            <input class="search-input" type="search" name="search" placeholder="Busca el articulo" />
        </form>

        <select class="select-order">
            <option>Precio más bajo</option>
            <option>Precio más alto</option>
            <option>Por opiniones</option>
            <option>Por descuento</option>
        </select>

    </div>
</div>

<div class="row">

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 12" width="100%" src="img/producto12.jpg" />
        <div class="offer">Oferta</div>
        <h3>Vestido corto con tirantes</h3>
        <strong class="price"><del>€229.00</del> €149.00</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 2" width="100%" src="img/producto2.jpg" />
        <div class="offer">Oferta</div>
        <h3>Vestido cruzado largo con estampado de flores</h3>
        <strong class="price"><del>€59.99</del> €35.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 6" width="100%" src="img/producto6.jpg" />
        <div class="offer">Oferta</div>
        <h3>Vestido cruzado largo con estampado de flores</h3>
        <strong class="price"><del>€69.99</del> €45.49</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 9" width="100%" src="img/producto9.jpg" />
        <div class="offer">Oferta</div>
        <h3>Vestido de manga larga</h3>
        <strong class="price"><del>€39.99</del> €23.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 2" width="100%" src="img/producton2.jpg" />
        <div class="offer">Oferta</div>
        <h3>Camiseta 7 años Minecraft</h3>
        <strong class="price"><del>€49.99</del> €30.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 6" width="100%" src="img/producton1.jpg" />
        <div class="offer">Oferta</div>
        <h3>Camiseta 7 años Gamer</h3>
        <strong class="price"><del>44.99</del> €33.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 2" width="100%" src="img/productoh2.jpg" />
        <div class="offer">Oferta</div>
        <h3>Casimesta Pepe Jeans Blanca</h3>
        <strong class="price"><del>€49.99</del> €30.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 8" width="100%" src="img/productoh1.jpg" />
        <div class="offer">Oferta</div>
        <h3>Casimesta Pepe Jeans Azul Lite</h3>
        <strong class="price"><del>€49.99</del> €30.33</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 9" width="100%" src="img/productoh3.jpg" />
        <div class="offer">Oferta</div>
        <h3>Casimesta Pepe Jeans Beige</h3>
        <strong class="price"><del>€49.99</del> €29.99</strong>
    </a>


</div>

<ul class="pagination">
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">10</a></li>
</ul>