<h1 class="title-products">Zapatos</h1>

<div class="row">
    <div class="col-xs-12">

        <form>
            <input class="search-input" type="search" name="search" placeholder="Busca el articulo" />
        </form>

        <select class="select-order">
            <option>Precio más bajo</option>
            <option>Precio más alto</option>
            <option>Por opiniones</option>
            <option>Por descuento</option>
        </select>

    </div>
</div>

<div class="row">

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto1" src='/img/productoz1.jpg' width="100%" />
        <div class="hidden offer">Oferta</div>
        <h3>Zapatillas negras Nike</h3>
        <strong class="price">€59.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 2" width="100%" src="img/productoz1.jpg" />
        <div class="offer">Oferta</div>
        <h3>Zapatillas negras Nike versión 2023</h3>
        <strong class="price"><del>€59.99</del> €35.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 3" width="100%" src="img/productoz1.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Zapatillas negras Nike Niño</h3>
        <strong class="price">€44.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 4" width="100%" src="img/productoz1.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Zapatillas negras Nike usadas</h3>
        <strong class="price">€24.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 5" width="100%" src="img/productoz1.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Zapatillas Nike azul</h3>
        <strong class="price">€45.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 6" width="100%" src="img/productoz1.jpg" />
        <div class="offer">Oferta</div>
        <h3>Zapatillas Nike morado</h3>
        <strong class="price"><del>€69.99</del> €45.99</strong>
    </a>

    

</div>

<ul class="pagination">
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">10</a></li>
</ul>