<h1 class="title-products">Masculino</h1>

<div class="row">
    <div class="col-xs-12">

        <form>
            <input class="search-input" type="search" name="search" placeholder="Busca el articulo" />
        </form>

        <select class="select-order">
            <option>Precio más bajo</option>
            <option>Precio más alto</option>
            <option>Por opiniones</option>
            <option>Por descuento</option>
        </select>

    </div>
</div>

<div class="row">

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="img/productoh1.jpg" width="100%" />
        <div class="hidden offer">Oferta</div>
        <h3>Casimesta Pepe Jeans Azul</h3>
        <strong class="price">€49.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 2" width="100%" src="img/productoh2.jpg" />
        <div class="offer">Oferta</div>
        <h3>Casimesta Pepe Jeans Blanca</h3>
        <strong class="price"><del>€49.99</del> €30.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 3" width="100%" src="img/productoh3.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Casimesta Pepe Jeans Beige</h3>
        <strong class="price">€49.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 4" width="100%" src="img/productoh4.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Casimesta Pepe Jeans Naranja</h3>
        <strong class="price">€35.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 5" width="100%" src="img/productoh5.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Camisa verano Toni's yellow</h3>
        <strong class="price">€101.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 6" width="100%" src="img/productoh7.jpg" />
        <div class="offer">Oferta</div>
        <h3>Camisa verano Toni's blue</h3>
        <strong class="price"><del>€101.99</del> €70.49</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 7" width="100%" src="img/productoh8.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Camisa verano Toni's brown</h3>
        <strong class="price">€95.01</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 8" width="100%" src="img/productoh1.jpg" />
        <div class="offer">Oferta</div>
        <h3>Casimesta Pepe Jeans Azul Lite</h3>
        <strong class="price"><del>€49.99</del> €30.33</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 9" width="100%" src="img/productoh3.jpg" />
        <div class="offer">Oferta</div>
        <h3>Casimesta Pepe Jeans Beige</h3>
        <strong class="price"><del>€49.99</del> €29.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 10" width="100%" src="img/productoh4.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Casimesta Pepe Jeans Naranja</h3>
        <strong class="price"><del>€35.99</del> €25.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 11" width="100%" src="img/productoh7.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Camisa verano Toni's Premium</h3>
        <strong class="price">€101.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 12" width="100%" src="img/productoh2.jpg" />
        <div class="offer">Oferta</div>
        <h3>Casimesta Pepe Jeans Blanca</h3>
        <strong class="price">€49.99</strong>
    </a>

</div>

<ul class="pagination">
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">10</a></li>
</ul>