<h1 class="title-products">Infantil</h1>

<div class="row">
    <div class="col-xs-12">

        <form>
            <input class="search-input" type="search" name="search" placeholder="Busca el articulo" />
        </form>

        <select class="select-order">
            <option>Precio más bajo</option>
            <option>Precio más alto</option>
            <option>Por opiniones</option>
            <option>Por descuento</option>
        </select>

    </div>
</div>

<div class="row">

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="img/producton2.jpg" width="100%" />
        <div class="hidden offer">Oferta</div>
        <h3>Camiseta 7 años Minecraft</h3>
        <strong class="price">€49.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 2" width="100%" src="img/producton2.jpg" />
        <div class="offer">Oferta</div>
        <h3>Camiseta 7 años Minecraft</h3>
        <strong class="price"><del>€49.99</del> €30.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 3" width="100%" src="img/producton1.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Camiseta 12 años Gamer</h3>
        <strong class="price">€44.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 4" width="100%" src="img/producton3.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Camiseta 7 años Roblox</h3>
        <strong class="price">€24.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 5" width="100%" src="img/producton3.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Camiseta 12 años Roblox</h3>
        <strong class="price">€45.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 6" width="100%" src="img/producton1.jpg" />
        <div class="offer">Oferta</div>
        <h3>Camiseta 7 años Gamer</h3>
        <strong class="price"><del>44.99</del> €33.99</strong>
    </a>

    

</div>

<ul class="pagination">
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">10</a></li>
</ul>